HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.idea/google-java-format.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/workspace.xml
/.idea/vcs.xml
/ESTRUTURA_DISTRIBUICAO.MD
/HOW_TO_DO.md
/.idea/encodings.xml
/.idea/compiler.xml
/BACKUP.MD
/.idea/checkstyle-idea.xml
/logs/
/target/
/.idea/
/local-repo/
/logs/
!/target/
!/logs/db-updates.log
